<%- include('../templates/head') %> 
<style>
    form {
        max-width: 480px;
        margin: auto;
    }
</style>

<div class="text-center mt-5" style="max-width: 480px;margin: auto;">
    <h3>user register</h3>
    <div>
        <% if(typeof alert != 'undefined') { %>
            <% alert.forEach(function(error) { %>
                <div class="alert alert-danger fade show" role="alert"><%= error.msg %></div>
            <% }) %>
        <% } %>  
    </div>
    <div class="register">
        <form action="/users/register" method="post">
            <div>
                <label for="">nama</label>
                <input class="form-control" placeholder="full name" type="text" name="name">
            </div>
            <div>
                <label for="">email</label>
                <input class="form-control" placeholder="Email address" type="text" name="email">
            </div>
            <div>
                <label for="">password</label>
                <input class="form-control" placeholder="Password" type="password" name="password" id="">
            </div>
            <div class="mt-3">
                <button class="btn btn-primary btn-block">register</button>
            </div>
            
        </form>
    </div>
    <a href="/users/login">login</a>
</div>
<%- include('../templates/footer') %> 